<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Student Management Dashboard</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/Dashboard.css" />
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <ul>
          <li>
            <a href="#" class="logo" style="color: #0d0d0d">
              <i
                class="fa-solid fa-graduation-cap fa-rotate-by"
                style="
                  color: #2005b7;
                  --fa-rotate-angle: 10deg;
                  font-size: 30px;
                "
              ></i>
              <span class="nav-item">Dashboard</span><br />
            </a>
          </li>
          
            <a class="hoverable" href="#">
              <i class="fas fa-home"></i>
              <span class="nav-item">Home</span>
            </a>
          </li>
          <li>
            <a class="hoverable" href="#">
              <i class="fas fa-user"></i>
              <span class="nav-item">Students</span>
            </a>
          </li>
          <li>
            <a class="hoverable" href="/feedback">
              <i class="fas fa-user-graduate"></i>
              <span class="nav-item">Feedback</span>
            </a>
          </li>
          <li>
            <a class="hoverable" href="#">
              <i class="fas fa-book"></i>
              <span class="nav-item">Library</span>
            </a>
          </li>
          <li>
            <a class="hoverable" href="#">
              <i class="fas fa-chart-bar"></i>
              <span class="nav-item">Analytics</span>
            </a>
          </li>
          <li>
            <a class="hoverable" href="#">
              <i class="fas fa-cog"></i>
              <span class="nav-item">Settings</span>
            </a>
          </li>
          <li>
            <a class="hoverable" href="#">
              <i class="fas fa-question-circle"></i>
              <span class="nav-item">Help</span>
            </a>
          </li>
          <li>
            <a href="/logout" class="logout">
              <i class="fas fa-sign-out-alt"></i>
              <span class="nav-item">Log out</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="left">
        <div class="welcome">
          <div>
          <p id="currentTime" style="font-size: 15px; margin: 12px 0 0 17px;"></p>
          <br>
          <!-- <h1>Welcome back, Dear!</h1> -->
          <h1  style="font-size: 30px; margin: 0 0 0 17px;">Welcome back ,<%= name %>!</h1>
          <p style="font-size: 15px; margin: 0 0 20px 20px;">You have finished <b>85%</b> of your weekly goal !</p>
        </div>
        <div>
          <img class="grad" src="/css/images/graduation.png" >
        </div></div>
        <div class="attendance">
          <h2 style="color: #4a3e3e;">My Courses</h2>
          <div class="subjects">
            <% subjects.forEach(subject => { %>
            <div class="eg">
              <a href="/markAttendance/<%= subject._id %>">
                <div class="imgbox" style="background-color: rgb(191, 144, 249);">
                  <img
                    src="/css/images/web.png"
                    style="width: 100px; height: 100px; margin-left: 40px;"
                  />
                </div>
                <div class="imgbox2">
                  <span class="material-icons-sharp"
                    ><b style="color: #3f3535;"><%= subject.name %></b></span
                  >
                  <h3><%= subject.presentCount %>/<%= subject.totalClasses %></h3>
                  <div class="progress-bar">
                    <div
                      class="progress"
                      style="width: <%= ((subject.presentCount / subject.totalClasses) * 100).toFixed(0) %>%;"
                    ></div>
                    <small class="text-muted"
                      >Completed:
                      <%= ((subject.presentCount / subject.totalClasses) * 100).toFixed(0) %>%</small
                    >
                  </div>
                </div>
              </a>
            </div>
            <% }) %>
          </div>
        </div>
        <!-- <div class="l-bottom">
          <h2 style="color: #4a3e3e;">Achievements</h2>
          <div class="ac">
            <div class="ac1">
              <div class="a11">
              <p style="font-size: 19px;color: #ff9501;margin: 10px 0 0 10px;"><b>Inorganic Chemistry</b></p>
              <p style="font-size: 19px;color: #ff9501;margin: 1px 0 0 10px;"><b>Certificate</b></p>
              <button><b>View</b></button>

            </div>
              <div class="a12">
                <i class="fa-solid fa-award fa-beat" style="color: #2064d9;font-size: 60px;"></i>
              </div>
            </div>


            <div class="ac2">
              <div class="a11">
                <p style="font-size: 20px;color: #b416e4;margin: 10px 0 0 10px;"><b>Social Philosophy</b></p>
                <p style="font-size: 20px;color: #b416e4;margin: 1px 0 0 10px;"><b>Certificate</b></p>
                <button style="background-color: #b416e4;"><b>View</b></button>
              </div>
              <div class="a12">
                <i class="fa-solid fa-award fa-beat" style="color: #2064d9;font-size: 60px;"></i>

              </div>
            </div>
          </div> 
        </div>-->
      </div>

      <div class="right">
        <h2 id="h21">Announcements</h2>

        <div class="announcements">
          <div class="updates">
            <div class="message">
              <p>
                <b style="color: #4a3f3f;">Academic</b> Summer training internship with Live Projects.
              </p>
              <small class="text-muted">2 Minutes Ago</small>
            </div>
            <div class="message">
              <p>
                <b style="color: #4a3f3f;">Co-curricular</b> Global internship opportunity by Student
                organization.
              </p>
              <small class="text-muted">10 Minutes Ago</small>
            </div>
            <div class="message">
              <p><b style="color: #4a3f3f;">Examination</b> Instructions for Mid Term Examination.</p>
              <small class="text-muted">Yesterday</small>
            </div>
          </div>

          <h2 id="h22">Upcoming Tasks</h2>

          <div class="leaves">
            <small class="text-muted">Today</small>

            <div class="teacher">
              <i
                class="fa-solid fa-microphone"
                style="color: #9f0000; font-size: 25px"
              ></i>

              <div class="info">
                <h3>Demo Speech</h3>
                <small class="text-muted">Mass Communication</small>
              </div>
              <div class="arrow">
                <p
                  style="
                    font-size: 25px;
                    color: rgb(138, 132, 132);
                    margin-left: 40px;
                  "
                >
                  >
                </p>
              </div>
            </div>
            <div class="teacher">
              <i
                class="fa-sharp fa-solid fa-file-pen"
                style="
                  color: #f18f07;
                  font-size: 25px;
                  background-color: #ffe8a9;
                "
              ></i>
              <div class="info">
                <h3>Globalisation Essay</h3>
                <small class="text-muted">Advanced Geography</small>
              </div>
              <div class="arrow">
                <p
                  style="
                    font-size: 25px;
                    color: rgb(138, 132, 132);
                    margin-left: 0px;
                  "
                >
                  >
                </p>
              </div>
            </div>

            <small class="text-muted">This Week</small>

            <div class="teacher">
              <i
                class="fa-solid fa-clock"
                style="
                  color: #744ceb;
                  font-size: 25px;
                  background-color: rgb(198, 172, 245);
                "
              ></i>
              <div class="info">
                <h3>Management Quiz</h3>
                <small class="text-muted">Product management</small>
              </div>
              <div class="arrow">
                <p
                  style="
                    font-size: 25px;
                    color: rgb(138, 132, 132);
                    margin-left: 10px;
                  "
                >
                  >
                </p>
              </div>
            </div>
            <div class="teacher">
              <i
                class="fa-sharp fa-solid fa-file-pen"
                style="
                  color: #f18f07;
                  font-size: 25px;
                  background-color: #ffe8a9;
                "
              ></i>

              <div class="info">
                <h3>Docu Paper</h3>
                <small class="text-muted">Advance Geography</small>
              </div>
              <div class="arrow">
                <p
                  style="
                    font-size: 25px;
                    color: rgb(138, 132, 132);
                    margin-left: 50px;
                  "
                >
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <script>
      function updateTime() {
        const now = new Date();
        const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        const currentDate = now.toLocaleDateString('en-US', options);
        const currentTime = now.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric' });
        document.getElementById('currentTime').textContent = `${currentDate}, ${currentTime}`;
      }
    
      // Update the time immediately on page load
      updateTime();
    
      // Update the time every second
      setInterval(updateTime, 1000);
    </script>
  </body>
</html>
